html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  scroll-behavior: smooth;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "coder";
  src: local("coder"), url(font.woff) format("woff");
}

body {
  margin: 0;
  font-family: "coder", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap');

html,
body,
section.horizontal {
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}


section:nth-of-type(odd) {
  background-color: #000;
}

section:nth-of-type(even) {
  background-color: #000;
}


.button-49,
.button-49:after {
  font-weight: 700;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 17px;
  font-family: Orbitron, sans-serif;
  background: linear-gradient(45deg, transparent 5%, #464646ad 5%);
  border: 0;
  color: #ffffffed;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00058E;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transform: scale(.7);
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  transform: scale(.7);
  content: 'BenNFT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00058E 3%, #00058E 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #000, 3px 3px 0px #727272;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1.5s glitch;
  animation-timing-function: steps(3, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}



.spinner {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.removeSpinner {
  display: none !important;
}

.sk-cube-grid {
  width: 240px;
  height: 240px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #CC0000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
    border: solid 1px #000;
  }

  35% {
    border: solid 11px #000;
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.blank {
  background: transparent;
}

.ml14 {
  font-weight: 200;
  font-size: 30px;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  opacity: 0;
  line-height: 1em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: rgba(175, 175, 175, 0.5);
  color: #ffffffed;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-family:  Roboto;
  font-size: 1.5rem;
  border: solid .62px #ffffff99;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #cc00008e;
}

#accordionContainer {
  width: 70vw;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #ffffffc0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-family: Roboto;
  padding: 20px 40px;
  line-height: 1.1;
}

.item1 {
  width: 100vw;
  height: 100vh;
  background: url("./home.png") no-repeat center center;
  animation: all 11.8s;
  background-size: cover !important;
  padding: 130px 140px;
  opacity: 0.3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: solid 2px #000;
  z-index: 20;
  box-shadow: inset -19px -2px 63px 20px #000, 20px 0px 15px 13px #000;
}

button {
  transition: all .8s;
}

button:hover {
  transition: all .8s;
  filter: grayscale(1);
}

#item2 {
  width: 100vw;
  height: 100vh;
  background: url("./Group\ 748.png") no-repeat center bottom, url("./other-bg.png") no-repeat center center ;
  animation: all 11.8s;
  background-size: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 13;
  box-shadow: 2px 4px 23px 2px #87241d;
}

#item3 {
  padding: 80px 55px !important;
  width: 100vw;
  height: 200vh;
  min-height: 2000px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top, #000 30%, rgb(26, 26, 26) 100%);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item4 {
  height: 95vh;
  padding: 210px 125px;
  box-shadow: inset 19px -2px 63px 20px #000, 0px -20px 60px 19px #000;
  background: url("./mintHero.png") center bottom no-repeat;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 80;
  mask-image: linear-gradient(18deg, transparent 2%, black 25%, black 92%, transparent 100%), linear-gradient(to top, transparent 5%, transparent 92%);
}

#mlb2-1354623.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  border: solid 2px #d7c41380;
  background: #ffffff8a;
  max-width: 400px;
  width: 100%;
}


#mlb2-1354623.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
  background-color: #ffffff66 !important;
}

.g-recaptcha {
  opacity: 0.8;
  filter: hue-rotate(188deg);
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#CC0000
}
.copyright-text
{
  margin:0
}

@media (max-width:1450px)
{
  .heroHeader
  {
    font-size: 36px !important;
  }
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

#buyButton1 {
  margin: 15px;
  background: #000;
  box-shadow: none;
  width: 225px;
  height: 52px;
  box-shadow: 0px 0px 3px 0.5px hsla(0, 100%, 20%, 0.842);
  padding: 10px 5px;
  font-size: 13px;
  font-family: Orbitron;
}

#buyButton2 {
  margin: 15px;
  background: #000;
  box-shadow: none;
  width: 225px;
  height: 52px;
  box-shadow: 0px 0px 3px 1px hsla(240, 94%, 20%, 0.938);
  padding: 10px 5px;
  font-size: 13px;
  font-family: Orbitron;
}

.supplyContainer {
  display: flex;
  font-size: 1.4vw;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.supplyContainer .supplyLeft {
  background: white;
  color: #000;
  width: 16vw;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.supplyContainer .supplyRight {
  background: #000;
  color: #ffffffdb;
  width: 16vw;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.span1 {
  font-size: 20px;
  text-align: center;
  border-radius: 15px;
  padding: 12px 6px;
  margin-bottom: 15px;
  border: solid #ffffffad 2px;
  background: transparent;
}

.span2 {
  font-size: 25px;
}
.quantityContainer {
  display: flex;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1.4vw;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.quantityContainer .quantityLeft {
  background: white;
  color: #000;
  width: 16vw;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

.quantityContainer .quantityRight {
  background: #000;
  color: #ffffffdb;
  width: 16vw;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}


.spanContainer1, .spanContainer2, .spanContainer3{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  width: 33.33%;
  margin: 25px;
}

#countdown div {
  display: flex;
  flex-direction: row;
}


.countdownContainer {
  z-index: 200;
  margin-top: 120px;
}


.cardgrid_container {
  max-width: 1200px;
  margin: 0 auto;
}

.cardgrid_container h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.cardgrid_container img {
  filter: grayscale(1);
  height: auto;
  max-height: 100px;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 25%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: solid 3px #a0a0a0ab;
}

.card_content {
  padding: 1rem;
}

.card_image {
  display: flex;
  justify-content: center;
  padding: 12.5px;
}


.card:nth-of-type(odd) {
  background: linear-gradient(to bottom left, #00058E 10%, #000 45%);
}

.card:nth-of-type(even) {
  background: linear-gradient(to bottom left, #CC0000 10%, #000 45%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
/* TIMELINE Start */


.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  font-family: Orbitron;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #b5a418;
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-weight: 700;
  font-size: 0.8em;
  color: #000000ed;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  font-family: Orbitron;
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  background: #ffffff59;
  padding: 10px 20px;
  color: #ffffffed;
  border-radius: 15px;
  margin: 20px 10px;
  font-family: 'Roboto';
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}


/* TIMELINE END */

.heroHeader {
  font-size: 40px;
  color: white;
  font-family: Orbitron;
  opacity: 0;
}

#mintHeroBtn {
  transition: all .3s;
}

#mintHeroBtn:hover {
  background: #000000ad;
  border-width: 3px !important;
}

.heroHeader2 {
  font-size: 40px;
  color: white;
  font-family: Orbitron;
  opacity: 1;
  text-align: left;
  width: 60vw;
}

.blueStripe1 {
  background: url("./goldBar.png") no-repeat left bottom;
  width: 78vw;
  height: 28px;
  position: absolute;
  bottom: 0;
  z-index: 20;
  background-size: contain;
  left: 0;
}

.blueStripe2 {
  background: url("./Group\ 748.png") no-repeat right bottom;
  width: 100vw;
  height: 49vh;
  position: absolute;
  bottom: 0;
  z-index: 20;
  background-size: contain;
  left: 0;
}

.heroSubText {
  margin-top: 25px;
  color: white;
  font-family: Orbitron;
  font-size: 28px;
  opacity: 0;
}

.heroSubText2 {
  padding-right: 15vw;
  margin: 20px 50px;
  color: white;
  font-family: Orbitron;
  font-size: 18px;
  opacity: 1;
  width: 60vw;
  
}

.upScroll {
  animation: all .4s;
  top: -500px !important;
  opacity: 0 !important;
}

.downScroll {
  animation: all .4s;
  top: 21px !important;
  opacity: 1 !important;
}

.logocontainer {
  font-family: Orbitron;
  font-size: 30px;
}

.site-links {
  font-size: 23px;
  font-family: Orbitron;
}

.site-links,
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.site-link1 {
  padding: 10px;
  text-decoration: none;
}

.site-link1 a {
  text-decoration: none;
}

.social-link1 a,
.social-link1 {
  margin: 10px;
  width: 38px;
  height: 38px;
  background: url("./insta.png") no-repeat center center;
  background-size: cover;
}

.social-link2 a,
.social-link2 {
  margin: 10px;
  width:38px;
  height: 38px;
  background: url("./twitterColor.png") no-repeat center center;
  background-size: cover;
}

.social-link3 a,
.social-link3 {
  margin: 10px;
  width: 38px;
  height: 38px;
  background: url("./discordWhite.webp") no-repeat center center;
  background-size: cover;
}


.navContainer {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.nav-header-hide {
  animation: opacity 1.2s;
  height: 100px;
  width: 90%;
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: transparent;
  border-radius: 20px;
  color: white;
  align-items: center;
  position: absolute;
  z-index: 99;
  overflow: hidden;
  top: 21px;
}

.nav-header-show {

  opacity: 1;
  height: 120px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: #00000070;
  border-radius: 20px;
  color: white;
  align-items: center;

}

section.horizontal {
  overflow-x: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}


section.horizontal .item {
  position: relative;
  padding: 120px 140px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  line-height: 1.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
  background-color: transparent;
}

section.horizontal .item:before {
  position: absolute;
  font-size: 100px;
  opacity: .13;
  font-weight: bold;
  z-index: -1;
  -webkit-transform: translate(-30px, -50px);
  transform: translate(-30px, -50px);
  line-height: 1;
}




section.horizontal .animation-wrap.to-right {
  counter-reset: item;
  float: left;
}

section.horizontal .animation-wrap.to-left {
  counter-reset: item 11;
  float: right;
}

section.horizontal .animation-wrap.to-right .item:before {
  counter-increment: item;
  content: counter(item);
}

section.horizontal .animation-wrap.to-left .item:before {
  counter-increment: item -1;
  content: counter(item);
}



section.horizontal .animation-wrap .item:nth-child(2n+2) {
  align-items: flex-start;
}

section.horizontal .animation-wrap .item:nth-child(4n+4) {
  align-items: flex-end;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

ol.gradient-list>li::before,
ol.gradient-list>li {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}




main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 5rem;
}

ol.gradient-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}

ol.gradient-list>li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
}

ol.gradient-list>li::before,
ol.gradient-list>li::after {
  background: linear-gradient(135deg, #000 0%, #CC0000 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: "";
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

ol.gradient-list>li::before {
  font-family: Orbitron;
  align-items: center;
  content: counter(gradient-counter);
  color: #f5f5f5;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 0.125em 0.25em;
  z-index: 1;
}

ol.gradient-list>li:nth-child(1) {
  transform: translateX(-2rem);
}

ol.gradient-list>li:nth-child(2) {
  transform: translateX(2rem);
}

ol.gradient-list>li:nth-child(3) {
  transform: translateX(-2rem);
}

ol.gradient-list>li:nth-child(4) {
  transform: translateX(2rem);
}

ol.gradient-list>li:nth-child(5) {
  transform: translateX(-2rem);
}

ol.gradient-list>li:nth-child(6) {
  transform: translateX(2rem);
}

ol.gradient-list>li:nth-child(10n+1):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
  transform: translateX(-11);
}

ol.gradient-list>li:nth-child(10n+2):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+3):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+4):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+6):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+7):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+8):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+9):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li:nth-child(10n+10):before {
  background: linear-gradient(135deg, #CC000040 0%, rgba(0, 0, 0, 0.2) 100%);
}

ol.gradient-list>li+li {
  margin-top: 2rem;
}

#section2 {
  height: 100vh;
  backdrop-filter: grayscale(1);
}

#section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./other-bg.png");
  filter: grayscale(100%);
}

.gradient-list2 {
  height: 500px;
}

.gradient-list2::before {
  content: "";
  bottom: 0;
  left: 0;
  background-position: center;
  transform: scale(1);
  position: absolute;
  width: 100%;
  height: 25%;
  z-index: 299;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./conorBenn.webp");
  filter: grayscale(100%);
}

.video-wrapper {
  width: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textP,
text {
  font-family: Orbitron;
  fill: #CC0000 !important;
  font-weight: 800;
}

.custom-shape-divider-top-1660762286 {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 10;
  font-size: 80px;
  color: red;
}

.custom-shape-divider-top-1660762286 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 394px;
}

.custom-shape-divider-top-1660762286 .shape-fill {
  fill: #000;
}

.custom-shape-divider-top-1660617241 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1660617241 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 122px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1660617241 .shape-fill {
  fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {

  .item1 {
    background-size: cover !important;
    padding: 200px 0 0 0px !important;
  }

  .site-links,
  .socials {
    display: none;
  }

  .blueStripe1 {
    display: none;
  }

  .heroHeader {
    font-size: 25px;
  }

  .heroSubText {
    font-size: 15px;
    margin-top: 15px;
  }

  .custom-shape-divider-top-1660617241 svg {
    width: calc(214% + 1.3px);
    height: 86px;
  }
}

.containerLogo {
  background: transparent;
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 5px;
}

.connectButton {
  background: transparent;
  position: absolute;
  width: 100vw;
  height: 38px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 80vh;
}

.logo {
  padding: 0% 4%;
  color: white;
  position: relative;
  font-size: 60px;
  /* width: 120px;
  height: 38px; */
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.heroText {
  font-family: Rubik, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: 2.5%;
  margin: 10%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 10px 10px #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html {
  background-color: "#4C4C4C";
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}



.button-85 {
  transition: all 1.3s;
  filter: grayscale(.7);
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:hover {

  filter: grayscale(0);
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #CC0000,
      #00058E,
      #CC0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

a {
  color: white;
}

@media (max-width: 768px) {
  .site-footer {
    padding: 20px !important;
  }

  .cards_item {
    width: 33.33%;
}

  .logocontainer, .site-links, .socials {
    width: 33.33%
  }

  .navContainer, .nav-header-hide{
    padding: 0 40px;
  }

  .cards {
    display: flex;
    justify-content: center;
  }

  .supplyContainer, .quantityContainer {
    font-size: 30px;
  }

  .supplyContainer .supplyRight, .supplyContainer .supplyLeft {
    width: 30vw !important;
}

.quantityContainer .quantityLeft, .quantityContainer .quantityRight {
  width: 30vw !important;
}

  .item1 {
    padding: 150px 40px;
  }

  #item2 {
    background-size: cover !important;
  }

  .site-links{
    display: none !important;
  }

  #heroBtnContainer {
    width: 100% !important;
  }

  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}